#!/usr/bin/env python
PACKAGE = "lane_changing"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# General Settings
group1 = gen.add_group("General_Settings")
group1.add("frequency",                 double_t,   0,  "Frequency of the node",            30.0,   0.0,    50.0)
group1.add("display_information",       bool_t,     0,  "Display lane change information",  True)
group1.add("steer_change",              double_t,   0,  "Change of steer [deg]",            0.5,    0.0,    5.0)

exit(gen.generate(PACKAGE, "lane_changing", "LaneChanger"))
